:root {
  --black: #0a0a0a;
  --white: #f9f9f9;
}

.base {
  background-color: var(--white);
  display: grid;
  place-items: center;
  position: relative;
}

.border {
  border: 1px solid var(--black);
  border-radius: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  width: 100%;
  height: 100%;
  z-index: 0 !important;
}

.icon {
  z-index: 1 !important;
}

.inp {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
  z-index: 2 !important;
}
